@import "tailwindcss";

/* Width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0f0f0f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    #6a11cb,
    #2575fc
  );
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    180deg,
    #2575fc,
    #6a11cb
  );
}
